<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification of Online Consultation/Medical Appointment</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">

    <div
        style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
        <h2 style="color: #333;">Notification of Online Consultation/Medical Appointment</h2>
        <p>Dear {{doctor}},</p>
        <p>We are pleased to inform you that you have been scheduled for an online consultation/medical appointment with
            a patient. Below are the details of the appointment:</p>
        <ul>
            <li><strong>Date and Time:</strong> {{ date }}</li>
            <li><strong>Patient:</strong> {{patient}}</li>
            <li><strong>Description:</strong> {{description}}</li>
            <li><strong>Package:</strong> {{package}}</li>
            <li><strong>Duration:</strong> {{duration}} minutes</li>
            {{!-- <li><strong>Link:</strong> <a href="[Appointment Link]" style="color: #007bff;">Appointment
                    Confirmation Link</a></li> --}}
        </ul>
        <p>Please ensure that you are ready and connected before the scheduled start time of the appointment. If you
            encounter any issues or need assistance, please contact us via this email or at [Support Phone Number].</p>
        <p>We hope you have an effective consultation/medical appointment and provide the best support for our patient.
        </p>
        <p>Best regards,<br>
            Online Doctor Appointment<br>
            ngoctruongcv@gmail.com<br>
            +84343630541</p>
    </div>

</body>

</html>