<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation of Online Consultation/Medical Appointment</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">

    <div
        style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
        <h2 style="color: #333;">Confirmation of Online Consultation/Medical Appointment</h2>
        <p>Dear {{ patient }},</p>
        <p>We are pleased to inform you that your online consultation/medical appointment has been confirmed. Below are
            the details of your appointment:</p>
        <ul>
            <li><strong>Date and Time:</strong> {{ date }} </li>
            <li><strong>Doctor/Consultant:</strong> {{ doctor }}</li>
            <li><strong>Description:</strong> {{description}}</li>
            <li><strong>Package:</strong> {{package}}</li>
            <li><strong>Duration:</strong> {{duration}} minutes</li>
            {{!-- <li><strong>Link:</strong> <a href="[Appointment Link]" style="color: #007bff;">Appointment
                    Confirmation Link</a></li> --}}
        </ul>
        <p>Please confirm your attendance for the appointment and ensure you are ready to connect before the scheduled
            start time. If you encounter any issues or need assistance, please contact us via this email or at
            +84343630541.</p>
        <p>We look forward to meeting you in the upcoming appointment and providing the best service possible.</p>
        <p>Best regards,<br>
            Online Doctor Appointment<br>
            ngoctruongcv@gmail.com<br>
            +84343630541</p>
    </div>

</body>

</html>